.home-container {
  font-family: sans-serif;
}

.welcome-heading {
  text-align: center;
  margin: 40px 0 20px;
}

.welcome-heading h1 {
  background-color: #050676;
  color: white;
  padding: 10px 20px;
  font-size: 1.5rem;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.video {
  width: 100%;
  max-width: 1000px;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.home-content {
  background: #fff;
  padding: 20px 10px;
  max-width: 960px;
  margin: auto;
  text-align: center;
  font-size: 1.1rem;
}

.home-content p {
  color: #050676;
}

.goals {
  background-color: #f9f9f9;
  color: #050676;
  padding: 50px 10px;
  text-align: center;
  margin-top: 40px;
  border-top: 4px solid #050676;
  border-bottom: 1px solid #050676;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.goals h2 {
  margin-bottom: 40px;
  color: #050676;
}

.goals-grid {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.goal-item {
  text-align: center;
  font-size: 1.2rem;
  max-width: 100px;
}

.goal-number {
  font-size: 2rem;
  color: #050676;
  padding: 10px 0;
}

.goal-label {
  color: #050676;
  padding: 5px 0;
}

.floating-donate-button {
  position: fixed;
  bottom: 60px;
  right: 60px;
  background-color: #f2de52;
  color: black;
  padding: 16px 32px;
  border-radius: 60px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.floating-donate-button:hover {
  background-color: #050676;
  color: white;
}